POSTGRES_DB=sushimi
POSTGRES_USER=sushimi
POSTGRES_PASSWORD=replace-with-a-long-password

APP_IMAGE=cantlookback/sushimi:latest

S3_REGION=us-east-1
S3_BUCKET=sushimi-media
S3_ACCESS_KEY=sushimi
S3_SECRET_KEY=replace-with-another-long-password

# Домен без протокола включает автоматический HTTPS в Caddy.
# Для первого запуска по IP можно указать http://SERVER_IP.
SITE_ADDRESS=sushi.example.ru
