POSTGRES_DB=sushimi
POSTGRES_USER=sushimi
# Special characters are supported; generate with: openssl rand -base64 32
POSTGRES_PASSWORD=replace-with-a-long-password

APP_IMAGE=cantlookback/sushimi:latest
APP_PORT=3000
NEXT_PUBLIC_BASE_PATH=/sushimi

S3_REGION=us-east-1
S3_BUCKET=sushimi-media
S3_ACCESS_KEY=sushimi
S3_SECRET_KEY=replace-with-another-long-password
